{% extends "OroUIBundle:actions:index.html.twig" %}
{% import 'OroUIBundle::macros.html.twig' as UI %}
{% set gridName = 'fm-resource-grid' %}
{% set pageTitle = 'fm.nav.resource.plural_label'|trans %}

{% block navButtons %}
    {% include 'OroImportExportBundle:ImportExport:buttons_from_configuration.html.twig' with {
        'alias': 'fm_resource'
    } %}

    {% if is_granted('fm_resource_create') %}
        <div class="btn-group">
            {{ UI.addButton({
                'path' : path('fm_resource_create'),
                'entity_label': 'fm.nav.resource.label'|trans
            }) }}
        </div>
    {% endif %}
{% endblock %}
